@font-face {
    font-family: Jost_Classic;
    src: local("Jost_Classic"), url('../Fonts/Jost-VariableFont_wght.ttf');
}

@font-face {
    font-family: Jost_Strong;
    src: local("Jost_Strong"), url('../Fonts/Jost-Black.ttf');
}

.Header h1{
    margin-top: 0;
    margin-left: 0;
}

.Header button{
    position: fixed;
    right: 0;
}

.buttonHeader {
    text-align: center;
    align-items: center;
    align-self: center;
}

.centre {
    text-align: center;
    align-items: center;
    align-self: center;
}

.centre p {
    text-align: left;
    margin: 1% 16%;
    font-size: 24px;
}

.centre img {
    border-radius: 2%;
}

.about {
    align-items: center;
    display: flex;
    justify-content: center;
}

footer p {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    
}

a {
    color: #ffffff;
}

footer {
    text-align: center;
    position: static;
}

html {
    background-image: url("../Images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    background-color: #ffffff;
    color: rgb(77, 77, 77);
    text-align: center;
    font-size: 28px;
    font-family: Jost_Classic;
    font:large;
    margin: 15px 18px;
    border-radius: 50px;
    border:none;
    padding: 2px 30px;
    transition: 0.2s;
}

.button p {
    margin-left: 10%;
    margin-right: 10%;
}

.FollowsButtons {
    margin: 15px 15px;
}

.button:hover {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.button:active {
    background-color: #ffffff;
    transition: 0.1s;
}

html::-webkit-scrollbar {
    width: 15px; 
}

html::-webkit-scrollbar-track {
    background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 20px;
}

p {
    font-family: Jost_Classic;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin : 5px 5px 5px 8px;
    text-align: center;
}

h6 {
    font-family: Jost_Classic;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h5 {
    font-family: Jost_Classic;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h4{
    font-family: Jost_Classic;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0%;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: Jost_Classic;
    font-size: 50px;
    margin-left: 10%;
    color: rgb(255, 255, 255);
    
}

h1 img {
    vertical-align: middle;
}

h2 {
    font-family: Jost_Strong;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 {
    font-family: Jost_Classic;
    font-size: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.carousel{
    height: 500px;
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 678px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 13px;
    margin: 41px auto 51px;
  }

.carousel-inner{
    height: 100%;
    /* min-width: 400%; */
    display: flex;
    transition: all ease .5s;
  }

.carousel-item{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
  }

.carousel-item:hover {
    cursor: pointer;
}

.carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../Images/prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
  }

.carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../Images/next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
  }

.prev:hover, .next:hover{
    opacity: 1;
  }

.carousel-indicators{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

.carousel-indicators span{
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
  }

.carousel-indicators span.active{
    opacity: 1;
  }